// Clearfix
.clear{
    clear: both;
    display: block;
    height: 0;
    margin: 0;
    padding: 0;
    position: relative;
	overflow: hidden;
	visibility: hidden;
}
.clearfix{
	zoom: 1;
	display: inline-block;
	&:before,
	&:after{
		content: '.';
		display: block;
		overflow: hidden;
		visibility: hidden;
		font-size: 0;
		line-height: 0;
		width: 0;
		height: 0;
	}
	&:after{
		clear: both;
	}
}

html[lang] .clearfix{display: block;}
* html .clearfix{height: 1%;}


// Transition
.transition { transition: all $transition-duration ease-in-out; }


// Sprite
$sprite-w: 580px;
$sprite-h: 160px;
.sprite{
	background: url('../images/icons.png') no-repeat 0 0;
	display: inline-block;
	text-indent: -9999px;
	
	/*
	// Moved to mediaquery.scss
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx){
		background-image: url('../images/icons@2x.png');
		background-size: $sprite-w $sprite-h;
	}
	*/
}

.proglyphs{
	background: url('../images/proglyphs.png') no-repeat 0 0;
	display: inline-block;
	text-indent: -9999px;
}

.line{
	content: '';
	width: $sprite-w;
	max-width: 100%;
	height: 15px;
	@extend .sprite;
	transform: translateX(-50%);
	background-position: center -15px;
	position: absolute;
	left: 50%;
	bottom: 0;
}