input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="url"], input[type="number"], input[type="date"], input[type="datetime"], input[type="datetime-local"]{
	font-family: $font-family;
	font-weight: 400;
	@extend .transition;
	width: 100%;
	height: 45px;
	color: $text-color;
	background: $light;
	font-size: 16px;
	line-height: 45px;
	padding: 0 20px;
	border: 1px solid $border;
	box-shadow: 0px 1px 3px rgba($black, .15) inset;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	box-sizing: border-box;
	
	&:focus, &:active, &:hover{
		border-color: rgba($border, .5);
		box-shadow: none;
	}
	&.invalid{
		border-color: $red;
		box-shadow: 0px 1px 3px rgba($red, .15) inset;
	}
}

input[type="file"]{
	width: 100%;
	height: 50px;
	opacity: 0;
	cursor: pointer;
}

textarea{
	font-family: $font-family;
	font-weight: 400;
	@extend .transition;
	width: 100%;
	height: 100px;
	color: $text-color;
	background: $light;
	font-size: 16px;
	line-height: 25px;
	padding: 15px 20px;
	border: 1px solid $border;
	box-shadow: 0px 1px 3px rgba($black, .15) inset;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	resize: none;
	
	&:focus, &:active, &:hover{
		border-color: rgba($border, .5);
		box-shadow: none;
	}
	&.invalid{
		border-color: $red;
		box-shadow: 0px 1px 3px rgba($red, .15) inset;
	}
}

input[type="submit"]{
	border: 0;
	cursor: pointer;
	-webkit-appearance: none;
}

label{
	font-weight: 700;
	font-size: 14px;
	line-height: 30px;
	color: $text-color-dark;
	text-align: left;
	display: block;
}

input:focus::-webkit-input-placeholder{color:transparent !important;}
input:focus:-moz-placeholder{color:transparent !important;}
input:focus::-moz-placeholder{color:transparent !important;}
input:focus:-ms-input-placeholder{color:transparent !important;}
textarea:focus::-webkit-input-placeholder{color:transparent !important;}
textarea:focus:-moz-placeholder{color:transparent !important;}
textarea:focus::-moz-placeholder{color:transparent !important;}
textarea:focus:-ms-input-placeholder{color:transparent !important;}

.button, button, input[type="submit"]{
	font-weight: 700;
	@extend .transition;
	height: 45px;
	min-width: 150px;
	font-size: 14px;
	line-height: 45px;
	display: inline-block;
	border: 0;
	color: $white;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	box-sizing: border-box;
	background: $orange;
	padding: 0 15px;
	position: relative;
	z-index: 70;
	
	&:hover{
		background: $yellow;
		color: $orange;
	}
	
	&.large{
		min-width: 200px;
		height: 55px;
		font-size: 18px;
		line-height: 55px;
		padding: 0 20px;
	}
	
	&.small{
		min-width: 130px;
		height: 35px;
		font-size: 12px;
		line-height: 35px;
		padding: 0 10px;
	}
	
	&.outlined{
		background: transparent;
		box-shadow: 0px 0px 0px 1px $orange inset;
		color: $orange;
		
		&:before{
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			background: $orange;
			position: absolute;
			transform: scale(1.3);
			visibility: hidden;
			opacity: 0;
			z-index: -1;
			left: 0;
			top: 0;
			@extend .transition;
		}
		
		&:hover{
			color: $white;
			&:before{
				opacity: 1;
				transform: scale(1);
				visibility: visible;
			}
		}
	}
	
	+ .button, + button, + input[type="submit"]{
		margin-left: 30px;
	}
	
	&:disabled{
		background: $border;
		color: $white !important
	}
}