// Screen Sizes
$screen-lg:			1280px;
$screen-md:			1000px;
$screen-sm:			768px;
$screen-xs:			640px;
$screen-xxs:		480px;

// Colors
$bg:				#e9e8e0;
$text-color:		#5d6265;
$text-color-dark:	#242628;
$text-color-light:	#9ea2a5;
$light:				#fbfbfa;
$border:			#d0cebf;
$orange:			#eb4a2b;
$yellow:			#fce013;
$green:				#71da3d;
$red:				#ee3c43;
$white:				#fff;
$black:				#000;

// Transition duration
$transition-duration: 150ms;
$section-width: 1400px;
$min-width: 320px;
$max-width: 960px;

// Font-family
$font-family: 'Open Sans', Helvetica, Arial, sans-serif;